@import 'variables';

#hall {
    
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: $second-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        border: 2px solid $primary-color;
        // background-color: $primary-background;
        color: $primary-color;
        width: 360px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    h1 {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 15px;
    }

    span {
        display: inline-block;
        width: 260px;
    }
}