@import 'variables';

#hall {
    
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: $primary-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: $default_hall_opacity;
    transition: opacity linear $transition_duration;

    form {
        border: 2px solid $primary-color;
        background-color: $second-background;
        color: $primary-color;
        width: 360px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    h1 {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input[type="text"]{
        margin-top: 5px;
        width: 100%;
    }

    select {
        width: 70px;
        text-align: center;
    }

    span {
        display: inline-block;
    }
}