
#mobile-controls{
    display: none;
}


@media only screen and (hover: none) and (pointer: coarse){
    
    #auxCanvas{
        display: none;
    }

    #mobile-controls{
    
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        button {
            
            border-radius: 50%;
            background-color: rgba(255,255,255,0.2);
            box-shadow: 0 0 5px 5px rgba(255,255,255,0.2);
            position: absolute;
            border: none;
        
            &#joystick {
                width: 120px;
                height: 120px;
                left: 30px;
                bottom: 30px;
            }
        
            &#shooter{
                width: 120px;
                height: 120px;
                right: 30px;
                bottom: 30px;
            }
        
            &#dasher{
                width: 60px;
                height: 60px;
                position: absolute;
                right: 30px;
                bottom: 180px;
            }
        
            &:active{
                background-color: rgba(255,255,255,0.4);
                box-shadow: 0 0 5px 5px rgba(255,255,255,0.4);
            }
        }
    
    }

}