*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  color: $primary-color;
  font-family: $primary-font;
  background: #F0F0F0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
